<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
                        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

    <bean id="specialService" class="com.kilo.service.SpecialServiceImpl">
        <property name="specialDAO" ref="specialDAO"/>
    </bean>

    <bean id="specialDAO" class="com.kilo.dao.SpecialDAO">
    </bean>
</beans>